[Unit]
Description=Cockroach Database cluster node
Requires=network.target
[Service]
Type=notify
WorkingDirectory=/var/lib/cockroach
ExecStart=/usr/local/bin/cockroach start --certs-dir=certs --cache=.25 --max-sql-memory=.25 --advertise-addr={{ hostvars[inventory_hostname].ansible_host }} --join={{ groups['instances'] | map('extract', hostvars, ['ansible_host']) | join(',') }}
TimeoutStopSec=300
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cockroach
User=cockroach
[Install]
WantedBy=default.target
